@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "forgot password";
}

<div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

<h1>@ViewData["Title"]</h1>
<form asp-controller="Account" asp-action="ForgotPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">send recovery email</button>
    </div>
    <p>
        <a asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">log in.</a>
    </p>
    <p>
        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">register.</a>
    </p>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
